/* font  */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Source+Code+Pro:ital,wght@1,700&display=swap');


/* reset css   */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
a{ text-decoration: none; color: #000;}
a:hover{ text-decoration: none;}
ul li{ list-style: none;}

/* main css   */
/* body{
    height: 1000px;
} */
* {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
}



/* header   css  */
.wrapper{
    min-height: 100vh;
    position: relative;
}

.header{

    background: #1e1f26 !important;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo conten user";
    padding: 15px 20px;
    position: fixed;
    top: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    width: 100%;
    z-index: 1000;
    
    
}
.header .header-logo{
    grid-area: logo;
}
.header .header-content{
    grid-area: conten;
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    letter-spacing: 2.5px;
    font-weight: 900;
    position: relative;
}
.line {
      position: relative;
      top: 50%;
      width: 11em;
      margin: 0 auto;
      border-right: 2px solid black;
      font-size: 180%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;transform: translateY(-50%);
      font-family: 'Zhi Mang Xing', cursive;
      color: #aaaaaa;
}

.anim-typewriter {
      animation: typewriter 4s steps(40) 1s 1 normal both ,
      blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 11em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: #aaaaaa;
      }
      to {
            border-right-color: transparent;
      }
}
.header .header-user{
    grid-area: user;
}

.header .header-logo .button-menu{
    border: none;
    outline: none;
    background: transparent;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.header .header-logo .button-menu i{
    font-size: 32px;
    color: #aaaaaa;
}
.header .header-logo img{
    width: 150px;
    height: 60px;

}
.header-logo{
    display: flex;
    align-items: center;
    height: 100%;
}
.header .header-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header-user{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaaaaa;
}

.header .header-user .header-user-notify{
    margin-right: 10px;
    color: #aaaaaa;
}
.header .header-user .header-user-notify i{
    font-size: 32px;
    color: #aaaaaa;
}
.header .header-user .header-user-notify .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.header .header-user .button-log-out{
    border: none;
    outline: none;
    background: transparent;
}
.header .header-user .button-log-out i{
    font-size: 32px;
}
.button-log-out i{
    color: #aaaaaa;
}
/* end css header */ 

/* start meenu lateral  */


.main{
    position: absolute;
    top: 90px;
    left: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: "nav-left content";
    width: 100%;
}
.main.active{
    grid-template-columns: 250px auto;
}
.main.active .full-nav{
    width: 250px;
}
.main span{
    display: none;
}
.main.active span{
    display: block;
}
.full-nav{
    grid-area: nav-left;
    width: 100px;
    position: fixed;
    top: 90px;
    left: 0;
    min-height: 100vh;
    overflow: auto;
    z-index: 99999;
    background: #1e1f26;
}
.menu-lateral{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 130vh;
}
.menu-lateral li{
    list-style: none;
}
/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: whitesmoke;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.menu-lateral a{
    display: flex;
    align-items: center;
    padding: 12px 30px;
    position: relative;
    color: #aaaaaa;
    text-decoration: none;
}
.menu-lateral a:hover{
    background: #aaaaaa;
    text-decoration: none;
}
.menu-lateral a:hover  i {
    color: #1e1f26 !important;
}
.menu-lateral a:hover span{
    color: #1e1f26 !important;
}
.menu-lateral i{
    font-size: 30px;
    color: #aaaaaa;

}

.menu-lateral a span{
    margin-left: 28px;
    color: #aaaaaa;
    font-weight: 900;
}
.menu-lateral a.active{
    background:  #e5e5e5;
}
.menu-lateral a.active i{
    color: #3d1e6d;
}
.menu-lateral a.active:before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color:#49657b;
}
.content{
    position: absolute;
    top: 0;
    grid-area: content;
    background:  #f7f7f7;
    width: 100%;

   
}
